<h1 class="text-center">Listing authors</h1>

<%= link_to 'New Author', new_author_path, class: "btn btn-info btn-sm btn-menu"  %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Author name</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.author_name %></td>
        <td><%= author.birth_date %></td>
        <td><%= author.death_date %></td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

