<p id="notice"><%= notice %></p>

<p>
  <strong>Author name:</strong>
  <%= @author.author_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @author.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @author.death_date %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
