<h1>Listing editions</h1>
<%= link_to 'New Edition', new_edition_path,class: "btn btn-info btn-sm btn-menu"  %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Isbn</th>
      <th>Edition name</th>
      <th>Release date</th>
      <th>Book</th>
      <th>Publisher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td><%= edition.book.title %></td>
        <td><%= edition.isbn %></td>
        <td><%= edition.edition_name %></td>
        <td><%= edition.release_date %></td>
        <td><%= edition.book_id %></td>
        <td><%= edition.publisher_id %></td>
        <td><%= link_to 'Show', edition %></td>
        <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
        <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

