<%= form_for(@book_copy) do |f| %>
  <% if @book_copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_copy.errors.count, "error") %> prohibited this book_copy from being saved:</h2>

      <ul>
      <% @book_copy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= label_tag(:quantity) %><br>
  <%= number_field_tag(:quantity, params[:quantity]) %>



  <div class="field">
    <%= f.label :edition_id %><br>
    <%= f.number_field :edition_id %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :hard_cover %><br>
    <%= f.check_box :hard_cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
