<h1>Listing book_copies</h1>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Edition Name</th>
      <th>Edition</th>
      <th>Branch</th>
      <th>Cover type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_copies.each do |book_copy| %>
      <tr>
        <td><%= book_copy.edition.edition_name %></td>
        <td><%= book_copy.book.title %></td>
        <td><%= book_copy.edition_id %></td>
        <td><%= book_copy.branch_id %></td>
        <td><%= book_copy.cover_type %></td>
        <td><%= link_to 'Show', book_copy %></td>
        <td><%= link_to 'Edit', edit_book_copy_path(book_copy) %></td>
        <td><%= link_to 'Destroy', book_copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book copy', new_book_copy_path %>
