<div class="left-menu">

  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to ("Home"), root_path%></li>
      <li><%= link_to ("Clients"), clients_path%></li>
      <li><%= link_to ("Books"), books_path%></li>
      <li><%= link_to ("Editions"), editions_path%></li>
      <li><%= link_to ("Categories"), categories_path%></li>
      <li><%= link_to ("Branches"), branches_path%></li>
      <li><%= link_to ("Authors"), authors_path%></li>

    </ul>
  </nav>
</div>